* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: aliceblue;
    width: 70%;
    margin: auto;
    padding: 16px;
}

img {
    display: block;
    width: 50%;
    margin: auto;
    border: 0.15em solid black;
    padding: 0.2em;
    border-radius: 1em;
}

h1,
h2 {
    text-align: center;
    font-family: serif;
    background-color: rgb(170, 196, 207);
    margin: 0.2em;
    border-radius: 1em;
}

.recipe-section {
    border-radius: 1em;
    background-color: rgb(205, 221, 205);
    border: 0.15em solid black;
    padding: 1em 2em;
    margin: 1em;
}